body {
    margin: 0px;
}

.app-cover-flex {
    width: 100%;
    display: flex;
    justify-content: center;

    .app-cover-item {
        width: 100%;
        height: 100vh;
        background-color: rgba(5, 10, 10, 8);
        border: 1px solid red;

        .app-header-cover {
            width: 100%;

            .header-comp-cover-flex {
                width: 100%;
                display: flex;
                justify-content: center;

                .header-comp-cover-item {
                    width: 100%;

                    .appbar-cover {
                        width: 100%;
                        background-color: #060606;
                        border-bottom: 1px solid rgba(50, 50, 50, 8);

                        .toolbar-cover {
                            width: 100%;
                            min-height: 45px;

                            .toolbar-cover-flex {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                .toolbar-cover-item {
                                    
                                    &:first-child {
                                        width: 30%;
                                        display: flex;
                                        align-items: center;

                                        .app-logo-cover-flex {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;

                                            .app-logo-cover-item {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                    &:nth-child(2) {
                                        width: 40%;

                                        .toolbar-menu-cover-flex {

                                            .toolbar-menu-cover-item {
                                                
                                            }
                                        }
                                        .toolbar-no-menu {

                                        }
                                    }
                                    &:last-child {
                                        width: 30%;
                                        display: flex;
                                        justify-content: flex-end;

                                        .connect-btn-cover-flex {
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;

                                            .connect-btn-cover-item {
                                                width: 40%;

                                                .connect-btn {
                                                    width: 100%;
                                                    background-color: rgba(50, 50, 50, 8);
                                                    font-size: 0.9rem;
                                                    color: #fff;
                                                    text-transform: capitalize;
                                                    padding-left: 5px;
                                                    padding-right: 5px;

                                                    .wallet-icon {
                                                        font-size: 1rem;
                                                        color: #fff;
                                                    } 
                                                }
                                            }
                                            .close-btn-cover-item {
                                                width: 1%;

                                                .connect-btn {
                                                    width: 100%;
                                                    background-color: rgba(50, 50, 50, 8);
                                                    font-size: 0.8rem;
                                                    color: #fff;
                                                    text-transform: capitalize;
                                                    padding-left: 5px;
                                                    padding-right: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}